.features {
  padding-top: 94px;
  padding-bottom: 94px;

  &__card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.features--container {
  display: flex;
}
.features-card__item {
  flex-basis: calc((100% - 90px) / 4);
}
.features-card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: $background;
  border-radius: 4px;
}
.features-card__container--retreat {
  margin-bottom: 30px;
}

.features-card__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-card__title--retreat {
  margin-bottom: 10px;
}

.feartures-card__description {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $second;
}
